<footer>
    <div class="footer_navigation">
        <div class="container_12">
            <div class="grid_3">
                <h3>Contact Us</h3>
                <ul class="f_contact">
                    <li>THE GEM STUDIO,KOLKATA,700061</li>
                    <li>8596235998</li>
                    <li>thegem@studio.com</li>
                </ul><!-- .f_contact -->
            </div><!-- .grid_3 -->

            <div class="grid_3">
                <h3>Information</h3>
                <nav class="f_menu">
                    <ul>
                        <li><a href="/aboutus">About As</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                    </ul>
                </nav><!-- .private -->
            </div><!-- .grid_3 -->
            <div class="grid_3">
                <h3>Costumer Servise</h3>
                <nav class="f_menu">
                    <ul>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/return-policy">Return Policy</a></li>      
                    </ul>
                </nav><!-- .private -->
            </div><!-- .grid_3 -->

            <div class="grid_3">
                <h3>My Account</h3>
                <nav class="f_menu">
                    <ul>
                        <li><a href="<%= user ? '/account' : '/login' %>">My Account</a></li>
                        <li><a href="<%= user ? '/my-orders' : '/login' %>">Order History</a></li>
                        <li><a href="<%= user ? '/wishlist' : '/login' %>">Wish List</a></li>
                    </ul>
                </nav><!-- .private -->
            </div>
            <!-- .grid_3 -->
        </div><!-- .container_12 -->
        <div class="clear"></div>
        <div class="clear"></div>
    </div><!-- .footer_navigation -->
    <div class="footer_info">
        <div class="container_12">
            <div class="grid_6">
                <p class="copyright">© The Gem Studio, 2024</p>
            </div><!-- .grid_6 -->
            <div class="clear"></div>
        </div><!-- .container_12 -->
    </div><!-- .footer_info -->
</footer>
</body>

</html>