<div class="col-md-3 profile-sidebar">
    <ul class="profile-menu">
        <li><a href="/account" style="text-decoration: none; color: #5e5efa; :hover { color: #fff; }">My Profile</a></li>
        <li><a href="/manage-addresses" style="text-decoration: none; color: #5e5efa; :hover { color: #fff; }">Manage Addresses</a></li>
        <li><a href="/my-orders" style="text-decoration: none; color: #5e5efa; :hover { color: #fff; }">My Orders</a></li>
        <li><a href="/payment-methods" style="text-decoration: none; color: #5e5efa; :hover { color: #fff; }">Payment Methods</a></li>
    </ul>
</div>