<%- include("../../views/partials/admin/header") %>
    <!-- Main Content -->
    <div class="main-content p-4 flex-fill">
        <h2 class="error-message">Error</h2>
        <p>Oops! Something went wrong. Please try again later.</p>
        <p>If the problem persists, contact the administrator.</p>
        <a href="/dashboard" class="btn btn-primary">Go Back to Dashboard</a>
    </div>
    </div>

    <%- include("../../views/partials/admin/footer") %>