<%- include("../../views/partials/admin/header") %>
    <!-- Main Content -->
    <div class="main-content p-4 flex-fill">
        <h5>Dashboard</h5>
        <p>Welcome to the admin dashboard. Here you can manage users, products, categories, and coupons.</p>
        <!-- Your content here -->
    </div>
    </div>
<%- include("../../views/partials/admin/footer") %>