/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}

.main-content {
    margin-left: 250px;
}

/* Adjustments for better styling */
.nav-link {
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: #495057;
}

/* Dropdown styling */
.dropdown-menu {
    display: none; /* Hide by default */
    background-color: #343a40;
    position: static; /* Prevent Bootstrap's default position: absolute */
    float: none; /* Prevent Bootstrap's default floating */
}

.dropdown-menu.show {
    display: block; /* Show when toggled */
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #8a9199;
}
/* product edit  */
.image-preview {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .image-preview {
      max-width: 100px;
    }
  }
  /* cropper at add product */
  .image-preview {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    overflow: hidden;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    position: relative;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .crop {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
  img {
    max-width: 100%;
    max-height: 500px; /* Limit the max height of the image */
  }
  /* report secion */
  .report-section {
    margin-top: 20px;
  }
  .filter-section {
    margin-bottom: 20px;
  }
  .stats-box {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
  }
  .table-section {
    margin-top: 20px;
  }
  .btn-download {
    margin-top: 15px;
  }