<!-- Header -->
<%- include("../../views/partials/user/header") %>
<!-- End Header -->

<div class="breadcrumbs">
    <div class="container_12">
        <div class="grid_12">
            <a href="/">Home</a><span></span><a href="/manage-addresses">Address Management</a><span></span><span class="current">Add Address</span>
        </div>
    </div>
</div>
</div>
<section id="main" class="page-login">
    <div class="container_12">
        <div id="content" class="grid_12">
            <%- include("../../views/partials/user/sidebar") %>


            <article>
                <div class="grid_6 registed_form">
                    <form id="addressform" class="registed" action="/manage-addresses/add-address" method="post">
                        <h2>Add New Address</h2>
                    
                        <div class="name">
                            <strong>Full Name:</strong><sup>*</sup><br>
                            <input type="text" name="name" class="" value="" id="name">
                            <div id="error1" class="error-message"></div>
                        </div><!-- .name -->

                        <div class="housename">
                            <strong>House Name:</strong><sup>*</sup><br>
                            <input type="text" name="houseName" class="" value="" id="houseName">
                            <div id="error2" class="error-message"></div>
                        </div><!-- .email -->

                        <div class="street">
                            <strong>Street:</strong><sup>*</sup><br>
                            <input type="text" name="street" class="" value="" id="street">
                            <div id="error3" class="error-message"></div>
                        </div><!-- .phone -->

                        <div class="city">
                            <strong>City:</strong><sup>*</sup><br>
                            <input type="text" name="city" class="" value="" id="city">
                            <div id="error4" class="error-message"></div>
                        </div><!-- .password -->

                        <div class="country">
                            <strong>Country:</strong><sup>*</sup><br>
                            <input type="text" name="country" class="" value="" id="country">
                            <div id="error5" class="error-message"></div>
                        </div><!-- .confirm_password -->
                        <div class="zipcode">
                            <strong>Zipcode:</strong><sup>*</sup><br>
                            <input type="text" name="zipcode" class="" value="" id="zipcode">
                            <div id="error6" class="error-message"></div>
                        </div><!-- .confirm_password -->
                        <div class="phone">
                            <strong>Phone:</strong><sup>*</sup><br>
                            <input type="text" name="mobile" class="" value="" id="mobile">
                            <div id="error7" class="error-message"></div>
                        </div><!-- .confirm_password -->
                                <div class="submit">
                                    <input type="submit" value="Add">
                                    <span>* Required Field</span>
                                    <div class="clear"></div>
                                </div><!-- .submit -->
                               
                    </form><!-- .registed -->
                </div><!-- .grid_6 -->
            </article>
    
            <div class="clear"></div>
        </div><!-- #content -->

        <div class="clear"></div>
    </div><!-- .container_12 -->
</section><!-- #main -->
<script>
   document.getElementById('addressform').addEventListener('submit', function(event) {
    event.preventDefault();
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, save it!'
    }).then((result) => {
        if (result.value) {
            this.submit();
        }
    })
});
</script>
<!-- Footer -->
<%- include("../../views/partials/user/footer") %>
<!-- End Footer -->