<%- include("../../views/partials/user/header") %>
    <div class="breadcrumbs">
        <div class="container_12">
            <div class="grid_12">
                <a href="/">Home</a><span></span><span class="current">Contact Us</span>
            </div><!-- .grid_12 -->
        </div><!-- .container_12 -->
    </div><!-- .breadcrumbs -->
    <section id="main">
        <div class="container_12">
            <div id="content" class="grid_9">
                <header>
                    <h2>Contact Us</h2>
                </header>

                <article class="post">
                    <p>If you have any questions, comments, or inquiries, we would love to hear from you! Please reach
                        out to us using the contact information below:</p>

                    <p><strong>Address:</strong> The Gem Studio, Kolkata, 700061</p>
                    <p><strong>Phone:</strong> 8596235998</p>
                    <p><strong>Email:</strong> thegem@studio.com</p>

                    <p>Our team is dedicated to providing you with the best service possible. Whether you need help with
                        a product or have a question about your order, don’t hesitate to contact us!</p>

                    <p>Thank you for choosing The Gem Studio!</p>
                </article>
                <div class="clear"></div>

                <div class="clear"></div>
            </div><!-- .container_12 -->
    </section><!-- #main -->
    <div class="clear"></div>
    <%- include("../../views/partials/user/footer") %>